<div *ngIf="windows">
  <div style="display: flex; border-bottom: 3px solid #1372d6">
    <div *ngFor="let janela of windows; let i = index" style="display: flex; margin-right: 10px;">
      <div class="janela" [ngClass]="{'changeColor': index == i}"
           (click)="enviarJanela(i)">{{janela.nome}}</div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <i style="margin-left: 4px" class="fas fa-angle-double-down"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="editarJanela(i)">
                <i style="margin-left: 4px; margin-bottom: 2px" class="fas fa-edit"></i>
              </button>
              <button ngbDropdownItem (click)="removerJanela(i)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="addJanela" *ngIf="windows" (click)="addJanela()"><b>+</b></div>
  </div>
  <div id="abaixoDaJanela">

    <app-those-subareas [janela]="janela" (subareaEmitter)="throwSubarea($event)"></app-those-subareas>

    <div style="display: flex; margin-right: 20px; align-items: center">
      <div id="template" (click)="openTemplates()">
        <i class="fas fa-cubes"></i>
      </div>
      <div id="regras" (click)="openInfo()">
        <i class="fas fa-info-circle"></i>
      </div>
      <div id="terminal" (click)="openChangeSubarea()">
        <i class="fas fa-th-large"></i>
      </div>
      <div id="code" (click)="openVisualStudio()">
        <i class="fas fa-code"></i>
      </div>
    </div>
  </div>

  <div id="ocupation">
      <div *ngIf="subarea != undefined">
        <app-ocupacao-list *ngIf="subarea.estilo == 3" [subarea]="subarea"></app-ocupacao-list>
        <app-ocupacao-geral *ngIf="subarea.estilo == 1" [subarea]="subarea"></app-ocupacao-geral>
        <app-ocupacao-nominal *ngIf="subarea.estilo == 2" [subarea]="subarea"></app-ocupacao-nominal>
      </div>
  </div>
</div>
