
.ocupacao{
  display: flex;
  background-color: #1976d2;
  color: white;
  width: 100%;
  height: 42px;
  margin-top: 1.8%;
}

.ocupacaoNome{
  margin-top: 8px;
  margin-left: 30px;
  font-size: 15px;
  display: flex;
}

.ocupacaoNome input{
  text-align: center;
  background-color: transparent;
  border: none;
  padding-right: 8px;
  height: 25px;
  color: white;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.icon{
  cursor: pointer;
  margin-top: 12px;
  margin-left: 20px;
}

.addOcupacao{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  width: 100%;
  height: 40px;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.addOcupacao:hover{
  background-color: #d0d0d0;
}

.close{
  width: inherit;
  display:flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 13px;
}

.close i{
  cursor: pointer;
}

.deleteOcupacao{
  margin-left: 10px;
  margin-top: 1.3px;
  font-size: 15px;
  margin-right: 2px;
}

.displayNone{
  display: none;
}

.displayFlex{
  display: flex;
}

.pendente{
  background-color: #d21969;
}

.indefinido{
  background-color: black;
}
