#myTask{
  width: 100%;

  > :nth-child(2) {
    padding: 0 30px;
    background-color: white;
  }
}

#taskName{
  display: flex;
  background-color: white;
  clip-path: polygon(0% 100%, 101% 100%, 101% 50%, 20vh 50%, 18.7vh 0%, 0% 0%);
  height: 54px;

  > div:first-child{
    width: 20vh;
    display: flex;
  }

  input{
    font-size: 20px;
    padding-left: 15px;
    text-align: center;
    border: unset;
    padding-right: 8px;
    width: 75%;
    border-bottom: 1px solid #d0d0d0;
    color: black;
    background-color: white;
  }

  .deleteTask{
    color: white;
    background-color: #d21969;
    display: flex;
    width: 25%;
    border-radius: unset;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 100%, 80% 100%, 100% 50%, 80% 0%, 0% 0%, 20% 50%);
  }
}

#tempo{
  display: flex;
  background-color: white;
  width: 100%;
  padding: 15px 0 20px 0;
  align-items: center;
  justify-content: center;
}

#tempo input{
  padding-left: 8px;
  width: 145px;
}

#tempo select{
  padding-bottom: 3px;
}

#miniMenu{
  display: flex;
  justify-content: flex-end;
  width: 442px;

  > *{
    display: flex;
  }
}

#miniMenu > div > *{
  margin-right: 10px;
}

#miniMenu > *:last-child > *:last-child{
  margin-right: 0px;
}

#time{
  color: rgb(100 100 100);
  border: 1px solid rgba(118, 118, 118, 0.3);
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
  border-radius: 3px;
}

#descricao{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  padding-bottom: 20px;
}

#descricao textarea{
  resize: none;
}

#confirmCancel{
  flex-basis: 95%;
  display: flex;
  height: 15%;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
}

#confirmCancel button{
  height: 38px;
  border-radius: unset;
  border-top: 1px solid #d0d0d0;
}

#confirmCancel button:first-child{
  background-color: #02AAC9;
  width: 125px;
  clip-path: polygon(20% 0%, 100% 0%, 85% 101%, 0% 101%);
}

#confirmCancel button:nth-child(2){
  color: black;
  width: 80px;
  background-color: white;
  padding: 0px 12px 0px 5px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.choice{
  color: black;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding-right: 12px;
  padding-left: 12px;
}

@media screen and (max-width: 510px) {
  #miniMenu {
    flex-direction: column-reverse;

    > div:nth-child(2) {
      margin: 10px 0px;
    }
  }
}

@media screen and (max-width: 365px) {

  #miniMenu {

    > div:first-child {
      flex-direction: column-reverse;
    }
  }

  #tempo input {
    width: auto;
    margin-bottom: 8px;
  }
}