#myTask{
  width: 525px;
  height: 350px;
}

#taskName{
  display: flex;
  background-color: white;
  clip-path: polygon(0% 0%, 37% 0%, 40% 50%, 100% 50%, 100% 101%, 0% 101%);
  height: 15%;
}

#taskName input{
  font-size: 20px;
  padding-left: 15px;
  text-align: center;
  padding-right: 8px;
  width: 75%;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  background-color: white;
}

.deleteTask{
  color: white;
  background-color: #d21969;
  display: flex;
  width: 25%;
  border-radius: unset;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 77% 0%, 100% 50%, 75% 100%, 0% 100%, 20% 50%);
}

#taskName div:first-child{
  width: 40%;
  display: flex;
}

#tempo{
  display: flex;
  background-color: white;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
}

#tempo *{
  height: 28px;
}

#tempo input{
  padding-left: 8px;
  width: 145px;
}

#tempo select{
  padding-bottom: 3px;
}

#miniMenu{
  display: flex;
  justify-content: flex-end;
  width: 442px;
}

#miniMenu > *{
  margin-right: 10px;
}

#miniMenu *:last-child{
  margin-right: 0px;
}

#time{
  color: rgb(100 100 100);
  border: 1px solid rgba(118, 118, 118, 0.3);
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
  border-radius: 3px;
}

#descricao{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
}

#descricao textarea{
  resize: none;
}

#confirmCancel{
  flex-basis: 95%;
  display: flex;
  height: 15%;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
}

#confirmCancel button{
  height: 38px;
  border-radius: unset;
  border-top: 1px solid #d0d0d0;
}

#confirmCancel button:first-child{
  background-color: #02AAC9;
  width: 125px;
  clip-path: polygon(20% 0%, 100% 0%, 85% 101%, 0% 101%);
}

#confirmCancel button:nth-child(2){
  color: black;
  width: 80px;
  background-color: white;
  padding: 0px 12px 0px 5px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.choice{
  color: black;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding-right: 12px;
  padding-left: 12px;
}
