.subarea{
  background-color: #c1c1c1;
  color: #5a5959;
  height: 20px;
  min-width: 30px;
  font-size: 12px;
  padding: 0px 7px;
  margin-top: 3px;
}

.subarea:hover{
  color: black;
}

.right-left{
  background-color: #c1c1c1;
  color: white;
  margin-top: 3px;
  height: 20px;
  width: 20px;
}

#span1{
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

#span2{
  display: flex;
  margin-top: 5px;
}

.selected{
  background-color: #e9e9e9;
  color: black;
}
/*
.selected #span1 div:first-child{
  background-color: #1976D2;
}

.selected #span2 div:first-child{
  background-color: #d21a6c;
}

.selected:hover #span1 div:first-child #span2 div:first-child{
  background-color: white;
}

.selected:hover #span2 div:first-child{
  background-color: white;
}

.selected:hover #span1 div:nth-child(2){
  background-color: #1976D2;
}

.selected:hover #span2 div:nth-child(2){
  background-color: #d21a6c;
}*/

.right{
  clip-path: ellipse(15px 12px at 0% 50%);
}

.right span div:first-child{
  background-color: #980846;
}

/*
.right-left:hover span div:first-child{
  background-color: white !important;
}

.right:hover span div:nth-child(2){
  background-color:  #d21969 !important;
}

.right:hover{
  background-color: #d21969;
}*/

.left{
  clip-path: ellipse(15px 12px at 100% 50%);
}

/*
.left:hover{
  background-color: #1976D2;
}

.left:hover span div:nth-child(2){
  background-color: #1976D2 !important;
}*/

.out{
  background-color: #0c508f;
  width: 12px;
  height: 10px;
  position: absolute;
  clip-path: circle(30%);
  z-index: 2;
}

.in{
  background-color: white;
  width: 5px;
  height: 5px;
  margin-top: 2.5px;
  margin-left: 3.5px;
  position: absolute;
  clip-path: circle(28%);
  z-index: 3;
}
