.subarea{
  display: flex;
  align-items: center;
  color: #989898;
  height: 20px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 3px;
  cursor: pointer;
  background-color: #e9e9e9;
  padding: 0px 15px;
}
