<div id="access_user">
    <div style="margin: 0px 15px 12vh 15px;">
        <h2 style="color: white;">Access Hostname</h2>
        <div style="display: flex; flex-direction: column;">
            <input class="config" [(ngModel)]="hostname" style="color: black;" id="access" type="text" placeholder="*******">
            <a href="{{localhost}}" (click)="onLinkClick($event)" style="margin-top: 8px;" class="config">aplicar</a>
            <button style="margin-top: 8px;" class="config" [routerLink]="['/']">voltar</button>
        </div>
    </div>
</div>