<div id="access_user">
    <div style="margin-bottom: 12vh;">
        <h2 style="color: white;">Access Hostname</h2>
        <div style="display: flex; flex-direction: column;">
            <input class="config" style="color: black;" id="access" type="text" placeholder="*******">
            <button style="margin-top: 8px;" class="config" [routerLink]="['/login']">aplicar</button>
            <button style="margin-top: 8px;" class="config" [routerLink]="['/']">voltar</button>
        </div>
    </div>
</div>