<div style="width: 100%; height: 100%; display: flex; justify-content: center; background-color: #1976d2;">
  <div id="management" [ngStyle]="{'max-width.px': maxWidthScreen}">
    <!-- ---------------------------------Left------------------------------------------ -->
    <div id="leftSide" *ngIf="!hide" [ngStyle]="{'border-right': (hide || windowBool)? 'unset': '#1976d2 solid 3px'}">
      <div class="top-left">
        <app-upload-image [usuario]="usuario"></app-upload-image>
      </div>
    
      <div class="middle-left">
        <div (click)="seeValue()">{{isLoggedIn ? usuario.nome: 'Tester'}}</div>
      </div>
    
      <div class="bottom-left">
        <app-atividade *ngIf="usuario.nome" [usuario]="usuario"></app-atividade>
      </div>
    </div>
  
    <div id="hideLeft" [ngStyle]="{'left': (hide)? '0': '200px', 'border-left': (hide || windowBool)? '#1976d2 solid 3px': 'unset'}" (click)="hideLeft()">
      <mat-icon>compare_arrows</mat-icon>
    </div>
  
    <!-- ---------------------------------Right------------------------------------------- -->
    <div id="rightSide" [ngStyle]="{'width': (hide)? '100%': ''}">
      <div class="top-right" style="position: relative;">
        <div>
          <button mat-icon-button style="color:#1976d2"
                  [routerLink]="['']" [queryParams] = "{id: usuario.idusuario}">
            <mat-icon color="white">home</mat-icon>
          </button>
          <button id="exitButton" (click)="signOut()" [routerLink]="['']">
            <i class="fas fa-door-open"></i>
          </button>
        </div>
        <app-stopwatch *ngIf="windowBool; else iconTimer"></app-stopwatch>
        <ng-template #iconTimer>
          <mat-icon id="timerIcon">av_timer</mat-icon>
        </ng-template>
      </div>
    
      <div class="bottom-right">
        <app-workspace *ngIf="atividade"></app-workspace>
      </div>
    </div>
    
  </div>
</div>

