#management{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: white;
}
// ---------------------------------------------------------------------------------

$leftWidth: 200px;

#leftSide {
  height: 100%;
  background-color: white;
  z-index: 12;
  border: #1976d2 solid 3px;
  border-right: unset;
  width: $leftWidth;

  .top-left{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #1976d2 solid 3px;
    
    img{
      border-radius: 100%;
      width: 100px;
      height: 100px;
    }
  }

  .middle-left{
    border-bottom: #1976d2 solid 3px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top: none;
  }

  .bottom-left{
    display: flex;
    justify-content: center;
    border-top: transparent;
  }
}
// ---------------------------------------------------------------------------------

#hideLeft {
  display: flex;
  cursor: pointer;
  position: absolute;   
  top: 0;
  z-index: 15;
  background-color: white;
  border: #1976d2 solid 3px;
}

// ---------------------------------------------------------------------------------
#rightSide {
  width: calc(100% - 200px);
  border-left: #1976d2 solid 3px;

  $topRight_Height: 70px;
  .top-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $topRight_Height;
    border-top: #1976d2 solid 3px;
    border-right: #1976d2 solid 3px;
    
    > div:first-child {
      display: flex; 
      flex-direction: column;
    }

    button{
      margin-right: 20px;
    }

    #exitButton{
      transform: scale(1.1);
      color: #d21969;
      background-color: transparent;
      border: none;
      height: 29px; 
      width: 40px;
    }    

    #timerIcon {
      display: flex;
      align-items: center;
      color: #02AAC9; 
      transform: scale(1.15);
      height: 40px;
      margin-right: 30px;
    }
  }
  
  .bottom-right {
    height: calc(100% - #{$topRight_Height});
    border-bottom: #1976d2 solid 3px;
    border-right: #1976d2 solid 3px;

    button{
      margin: 10px 0px 0px 10px;
    }
  }
}

@media screen and (max-width: 645px) {
  #leftSide {
    position: absolute;
  }

  #rightSide {
    width: 100%;
  }
}

@media screen and (max-width: 642px) {
  .top-right {
    align-items: flex-start !important;

    > div:first-child {
      flex-direction: row !important;
    }

    button:first-child {
      margin-top: 1px;
    }

    button{
      margin-right: 8px !important;
    }

    #exitButton{
      height: 40px !important;
      margin-right: 12px !important;
    } 
  }
}