<div class="telagrid">
  <div class="top-left">
    <app-upload-image [usuario]="usuario"></app-upload-image>
  </div>

  <div class="middle-left">
    <div>{{usuario.nome}}</div>
  </div>

  <div class="bottom-left">
    <app-atividade *ngIf="usuario.nome" [usuario]="usuario" (newEmitter)="enviarJanela($event)"></app-atividade>
  </div>
  <div class="top-right">
    <div style="display: flex; flex-direction: column">
      <button mat-icon-button style="color:#1976d2"
              [routerLink]="['']" [queryParams] = "{id: usuario.idusuario}">
        <mat-icon color="white">home</mat-icon>
      </button>
      <button id="exitButton" (click)="signOut()" [routerLink]="['']">
        <i class="fas fa-door-open"></i>
      </button>
    </div>
    <app-stopwatch></app-stopwatch>
  </div>

  <div class="bottom-right">
    <app-workspace *ngIf="atividade" [activity]="atividade"></app-workspace>
  </div>
</div>
