<div class="toolbar">
  <div class="nav-left" [ngStyle]="{'display': searchUser.status  ? 'none' : ''}">
    <button style="border: none; background-color: transparent" [routerLink]="['']">
      <mat-label>MyM</mat-label>
    </button>
  </div>

  <div class="nav-fill" style="z-index: 10000;">
    <input id="searchButton" [ngClass]="{'search_animation': searchUser.status}" [(ngModel)]="searchUser.value"
    [ngStyle]="{ 'width': searchUser.status ? '100%' : '0', 'margin-left': searchUser.status ? '5.4vw' : '0', 
    'padding': searchUser.status ? '0 10px' : '0', 'border': searchUser.status ? '2px solid #69A6E2': '' }"
    />

    <button class="buttonStyle" style="width: 75px; height: 70px;" (click)="search()">
      <mat-icon style="width: fit-content;">search</mat-icon>
    </button>

  </div>

  <app-user-list *ngIf="searchUser.status"></app-user-list>

  <div class="nav-right" [ngClass]="{'nav-right-change': !searchUser.status && !widthScreen && !conta}"
  [ngStyle]="{'display': searchUser.status && !widthScreen  ? 'none' : '', 'width': !conta ? '190px': '125px'}">

    <div [ngClass]="{'icon': conta, 'displayNone': !conta}">
      <button class="buttonStyle" style="width: 50px; height: 50px;" [routerLink]="['/management', usuario.idusuario]">
        <mat-icon>account_circle</mat-icon></button>
    </div>

    <div [ngClass]="{'sign': !conta, 'displayNone': conta}">
      <button class="buttonStyle" style="margin-right: 10px; width: 75px; height: 70px;" [routerLink]="['/login']">Get in</button>
      <button style="background-color: white; color: #30618a; height: 70px; width: 70px; border: unset; border-radius: 100%; font-size: 15px; font-weight: 600;" [routerLink]="['/cadastro']">Sign up</button>
    </div>

  </div>
</div>

<div class="screen">
  <img src="assets/tasks.png">
  <div>
    <h1>My Individual <br>Management</h1>
  </div>
</div>
