#access {
  position: absolute; 
  bottom: 15%; 
  right: 15%;
  color: white;
  font-size: 45px;
  font-weight: 600;
  cursor: default;
}

#experience {
  border: 3px solid white !important;
  background-color: white;
  color: #30618a;
  padding: 8px 20px;
  border: unset;
  border-radius: 0.325rem;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}

#experience:hover {
  background-color: transparent;
  color: white;
}

.toolbar {
  display: flex;
  height: 100px;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  background-image: linear-gradient(#1976d2, white);
}

.toolbar :first-child{
  color: white;
  cursor: default;
}

.nav-left{
  left: 30px;
  margin-left: 50px;
}

.nav-left button mat-label{
  font-size: 20px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.nav-left button mat-label:hover{
  cursor: pointer;
}

.nav-fill{
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 30px;
  justify-content: flex-end;
}

.nav-fill button:hover{
  cursor: pointer;
}

.nav-fill button mat-icon {
  width: 70px;
}

.nav-fill button mat-icon:hover{
  cursor: pointer;
}

.buttonStyle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: unset;
  border-radius: 100%;
  cursor: pointer !important;
  font-weight: 600;
  background-color: transparent;
}

.buttonStyle:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sign {
  display: flex;
}

#searchButton {
  color: black;
  height: 40px;
  border: unset;
  cursor: text;
  margin-right: 10px;
  border-radius: 8px;
}

#searchButton:focus {
  outline: unset;
}

.search_animation {
  animation: example 0.3s linear;
}

@keyframes example {
  from { 
    width: 0 
  }
  to { 
    width: 89.27%;
  }
}

.nav-right{
  display: flex;
  justify-content: flex-start;
}

.nav-fill button{
  width: auto;
  height: 70px;
}

.nav-right button mat-icon:hover{
  cursor: pointer;
}

.nav-right-change {
  width: 130px !important;
  justify-content: flex-start !important;
}

.icon{
  transform: scale(1.5);
  margin-right: 30px;
}

.displayNone{
  display: none;
}

.screen{
  display: flex;
  min-width: 320px;
  margin-top: 9%;
  justify-content: center;

  $imgWidth: 50vh;

  img {
    width: calc($imgWidth + 150px);
    height: $imgWidth;
  }
}

.screen h1{
  font-family: sans-serif;
  color: white;
  font-size: 8vh;
  margin-right: 7vh;
  text-shadow:
    0.2vh 0 0 #1976d2,
    -0.2vh 0 0 #1976d2,
    0 0.2vh 0 #1976d2,
    0 -0.2vh 0 #1976d2,
    0.1vh 0.1vh #1976d2,
    -0.1vh -0.1vh 0 #1976d2,
    0.1vh -0.1vh 0 #1976d2,
    -0.1vh 0.1vh 0 #1976d2;
}

.screen div{
  display: flex;
  width: fit-content;
  align-items: center;
}

@media screen and (min-width: 1125px) {
  .screen > div:nth-child(2){
    padding: 0px 0px 0px 10vw;
  }  
}

@media screen and (max-width: 1400px) {
  .screen{
    margin-top: 18vh;
    align-items: center;

    $imgWidth: 30vw;

    img {
      width: calc($imgWidth + 150px);
      height: $imgWidth;
    }
  }

  .screen h1{ 
    margin-top: 7vh;
    font-size: 7vh;
  }
}

@media screen and (max-width: 1125px) {
  .screen{
    flex-direction: column;

    $imgWidth: 30vh;

    img {
      width: calc($imgWidth + 150px);
      height: $imgWidth;
      margin-right: 0;
    }
  }

  .screen h1{ 
    margin-top: 7vh;
    font-size: 7vh;
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .nav-fill {
    margin-right: 0;
  }

  .nav-right {
    justify-content: center;
  }
}

@media screen and (max-width: 435px) {
  .screen{
    $imgWidth: 80vw;

    img {
      width: $imgWidth;
      height: $imgWidth - 20vw;
      min-width: 270px;
      min-height: 225px;
    }
  }

  #access{
    font-size: 10vw;
  }

  .screen h1{ 
    margin-top: 7vh;
    font-size: 5vh;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .nav-fill input {
    margin-left: 18px !important;
  }

  #access{
    font-size: 30px;
  }
}