#classeInfo{
  color: black;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  height: 500px;

  .bloco:first-child {
    margin-right: 10px;
  }
}

#classeInfo textarea{
  resize: none;
}

#classeInfo .bloco {
  flex: 1;

  > div {
    width: 100%;

    textarea {
      width: 100%;
    }
  }
}