// -------------------------------------------------------------------------
#project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  height: 100%;
  width: 100%;
}
// -------------------------------------------------------------------------
.main {
  display: flex;
  width: 95%;
  height: 92%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
// -------------------------------------------------------------------------
.menuDiv{
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 5%;

  #classeNome{
    font-weight: 600;
    font-size: 2vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;

    input{
      border: none;
      text-align: center;
    }

    input:focus{
      outline: none;
    }

    .mat-button {
      padding: 0;
      line-height: unset;
      min-width: unset;
    }

    #removeBtn{
      display: flex;      
      height: 4vh;
      width: 6vh;
      font-size: 1.4vh;
      border-radius: 0px;
      color: white;
      justify-content: center;
      align-items: center;
      background-color: #d21969;
      clip-path: polygon(0% 0%, 77% 0%, 100% 50%, 75% 100%, 0% 100%, 20% 50%);
    }    
  } 

  #miniMenu{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5vh;
  
    input[type="date"]{
      width: 12vh;
    }

    select {
      text-align: center;
      width: 4vh;
      appearance: none;
    }

    * {
      margin-right: 1vh;
      background-size: 20px;
      border: 0.1vh solid black
    }

    *:focus {
      outline: unset;
    }
  
    *:last-child{
      margin-right: 0px;
    }

    
    #time{
      color: rgb(100 100 100);
      border: 0.1vh solid rgba(118, 118, 118, 0.3);
      background-color: #F9F9F9;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0.5vh;
      padding-right: 0.5vh;
      cursor: default;
      border-radius: 0.3vh;
    }

  
    .choice{
      display: flex;
      align-items: center;
      color: black;
      border: 0.1vh solid #6c6c6c;
      border-radius: 0.3vh;
      padding-right: 1.2vh;
      padding-left: 1.2vh;
    }
  }

  .mat-button {
    padding: 0;
    line-height: unset;
    min-width: unset;
  }

  #confirmCancel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.7vh;
      border-radius: unset;
      font-size: 1.4vh;
    }

    button:first-child{
      background-color: #02AAC9;
      margin-left: 1vh;
      border-radius: 0.3vh;
      width: 10vh;
      color: white;
      clip-path: polygon(0% 0%, 100% 0%, 85% 101%, 0% 101%);
    }

    button:nth-child(2){
      color: black;
      width: 8vh;
      background-color: white;
      padding: 0 1.2vh 0 0.5vh;
    }
  }
}
// -------------------------------------------------------------------------
.body{
  display: flex;
  width: 100%;
  height: 92%;
  overflow-y: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .centralizar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
    grid-gap: 4vh;
    margin: 0 auto;
    width: 100%;
    height: 100%;

    > div {
      width: 100%;
    }

    .blockSize{
      width: 100%;
      height: 38vh;
      font-size: 1.6vh;

      div:first-child{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 10%;
      }

      textarea{
        resize: none; 
        width: 100%; 
        height: 93%;
        border-radius: 0px;
        border: 0.1vh solid gray;
      }
      
      textarea:focus{
        outline: none;
      }
    }
  }
}
// -------------------------------------------------------------------------

@media screen and (min-width: 1925px) {
  .centralizar{
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr)) !important;
  }
}

@media screen and (max-width: 1595px) {
  .body {
    padding-right: 1vh;
  }
}

@media screen and (max-width: 795px) {
  .menuDiv {
    height: auto;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 2vh;
    padding-right: 1vh;

    > :nth-child(2) {
      flex-direction: column-reverse;
      margin-top: 1vh;

      > div {
        margin-bottom: 1vh;
      }
    }
  }
}