<div id="project" *ngIf="task != undefined">
  <div class="main">
    <div class="menuDiv">
      <div id="classeNome">
        <input [(ngModel)]="task.nome" maxlength="12" size="10" spellcheck="false"
               #gettingFocus (focus)="inputDisable(gettingFocus)"
               (click)="inputEnable(gettingFocus)"
               (keyup)="saveEdit($event, 'nothing')">
        <button mat-button  (click)="removerTask()" id="removeBtn">
          <i  class="fas fa-trash"></i>
        </button>
      </div>
      <div style="display: flex">
        <div id="miniMenu">
          <div id="time">{{task.tempo}}</div>
          <input type="date" [(ngModel)]="tempo">
          <div class="choice">{{task.dificuldade}}</div>
          <select (change)="changeEtiqueta($event)">
            <option>{{etiqueta}}</option>
            <option *ngIf="etiqueta != '\u2754'">&#x2754;</option>
            <option *ngIf="etiqueta != '\u2714'">&#x2714;</option>
            <option *ngIf="etiqueta != '\u274C'">&#x274C;</option>
          </select>
        </div>
        <div id="confirmCancel">
          <button mat-button mat-dialog-close (click)="updateTask()">Confirm</button>
          <button mat-button mat-dialog-close>Cancel</button>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="centralizar">
        <div *ngFor="let title of titulos; index as i;">
          <div class="blockSize">
            <div>{{title}}</div>
            <textarea [(ngModel)]="atributos[i]" spellcheck="false"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
