<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="authentication">
  <div class="containerAuth">
    <h3><b style="cursor: default">Login</b></h3>
    <div class="inputAuth">
      <label class="text-info">Username:</label>
      <input (keyup.enter)="onEnter()" [(ngModel)]="usuario.nome">
      <label class="text-info">Password:</label>
      <div class="password">
        <input (keyup.enter)="onEnter()" [type]="password" [(ngModel)]="usuario.senha" autocomplete="new-password">
        <div (click)="showpassword()">
          <i [ngClass]="{'fas fa-eye': !show, 'far fa-eye-slash': show}"></i>
        </div>
      </div>
      <div [ngClass]="{'invalide': senhaInv,  'alreadyOn': signOn, 'incorrectPassw': !senhaInv}">
        <b style="width: 100%">{{menssage}}</b>
        <b style="text-align: end;">{{count}}</b>
      </div>
    </div>
    <div class="optionalAuth">
      <b style="margin-left: 48px; cursor: default">Remember me</b>
      <input style="margin: 7px 0px 0px 5px" type="checkbox" [(ngModel)]="check">
      <div>
        <a [routerLink]="['/cadastro']" class="registerHere">
          <b>Register here</b>
        </a>
      </div>
    </div>
    <div class="buttonAuth">
      <button mat-button (click)="validateUser()">Confirmar</button>
      <button mat-button [routerLink]="['']">Cancelar</button>
    </div>
  </div>
</div>
