/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

snack-bar-container.success{
  color: #0eba57;
  background-color: white;
  border-radius: 2%;
}

@import "~bootstrap/dist/css/bootstrap-grid.min.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
