/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button:focus {
  outline: unset;
}

snack-bar-container.success{
  color: #0eba57;
  background-color: white;
  border-radius: 2%;
}

.cdk-global-overlay-wrapper {
  min-width: 435px;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
  background-color: white;
  min-width: 175px;
}

.full-screen-modal .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: unset;
  padding: 0px;
}

.full-screen-modal{
  max-width: 100vw !important;
  width: 100vw;
  overflow-y: unset;
  height: 100vh;
}

.dialogPadding .mat-mdc-dialog-container .mdc-dialog__surface{
  padding: 0px;
}

.backgroundColorWhite .mat-mdc-dialog-container .mdc-dialog__surface{
  background-color: white;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0px !important;
  font-size: 20px !important;
}

.dialogTemplate {
  max-width: fit-content !important;
}

.dialogTemplate .mat-mdc-dialog-container .mdc-dialog__surface{
  min-width: 365px;
}

.taskFile .mat-mdc-dialog-container .mdc-dialog__surface{
  padding: 0px;
  width: 525px;
  overflow-y: unset;
  min-width: 255px;
  background-color: transparent !important;
  box-shadow: unset;
}

#locking .mat-paginator-range-label{
  display: none;
}

#locking .mat-paginator-page-size{
  display: none;
}

.mat-mdc-paginator-outer-container {
  background-color: black !important;
}

@import "~bootstrap/dist/css/bootstrap-grid.min.css";

*::-webkit-scrollbar, .about::-webkit-scrollbar {
  width: 1vh;
}

*::-webkit-scrollbar-thumb, .about::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

*::-webkit-scrollbar-track, .about::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}


.mdc-dialog__container {
  width: fit-content;
  margin: auto;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100vw !important;
}

.cdk-overlay-pane {
  width: 100%;
}

.cdk-global-overlay-wrapper {
  justify-content: unset !important;
}