<div class="telagrid">
  <div class="top-left">
    <app-upload-image [usuario]="usuario"></app-upload-image>
  </div>

  <div class="middle-left">
    <div>{{usuario.nome}}</div>
  </div>

  <div class="bottom-left">
    <app-atividade *ngIf="usuario.nome" [usuario]="usuario" (newEmitter)="enviarJanela($event)"></app-atividade>
  </div>
  <div class="top-right">
    <button (click)="search()" mat-raised-button style="background-color: #1976d2">Stopwatch</button>
    <button mat-icon-button style="color:#1976d2"
            [routerLink]="['']" [queryParams] = "{id: usuario.idusuario}">
      <mat-icon color="white">home</mat-icon>
    </button>
    <button mat-raised-button style="background-color: #d21969" (click)="signOut()" [routerLink]="['']">
      Sign out</button>
  </div>

  <div class="bottom-right">
    <app-workspace *ngIf="atividade" [activity]="atividade"></app-workspace>
  </div>
</div>
