.telagrid{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 70px 60px 50px 40px 1fr;
  grid-template-areas:
    "user menu menu"
    "user janela janela"
    "user  subarea subarea"
    "nome room room"
    "listagem room room";
}

.top-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: user;
  border: #1976d2 solid 3px;
}

.middle-left{
  border:  #1976d2 solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  grid-area: nome;
}

.top-left img{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.top-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: menu;
  border-top: #1976d2 solid 3px;
  border-bottom: #1976d2 solid 3px;
  border-right: #1976d2 solid 3px;
}

.first-middle-right{
  border:  #1976d2 solid 3px;
  border-top: none;
  border-left: none;
  grid-area: janela;
}

.second-middle-right{
  border:  #1976d2 solid 3px;
  border-top: none;
  border-left: none;
  grid-area: subarea;
}

.top-right button{
  margin-right: 20px;
}

.bottom-left{
  display: flex;
  justify-content: center;
  grid-area: listagem;
  border: #1976d2 solid 3px;
  border-top: transparent;
}

.bottom-right{
  grid-area: room;
  border-bottom: #1976d2 solid 3px;
  border-right: #1976d2 solid 3px;
}

.bottom-right button{
  margin: 10px 0px 0px 10px;
}

.userimg{
  text-align: center;
  border: 2px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 80px;
  background-color: white;
}
