<div class="telagrid">
  <div class="top-left">
    <button class="userimg" (click)="chooseImg()">+</button>
  </div>

  <div class="middle-left">
    <div>{{usuario.nome}}</div>
  </div>

  <div class="bottom-left">
    <app-atividade></app-atividade>
  </div>
  <div class="top-right">
    <button mat-raised-button style="background-color: #1976d2">Search</button>
    <button mat-icon-button style="color:#1976d2"
            [routerLink]="['']" [queryParams] = "{id: usuario.id}">
      <mat-icon color="white">home</mat-icon>
    </button>
    <button mat-raised-button style="background-color: #1976d2" (click)="signOut()" [routerLink]="['']">
      Sign out</button>
  </div>

  <div class="first-middle-right">
      <p>Janelas</p>
  </div>

  <div class="second-middle-right">
      <p>Subareas</p>
  </div>

  <div class="bottom-right">
      <p>Ocupação</p>
  </div>
</div>
