<div class="telagrid">
  <div class="top-left">
    <button class="userimg" (click)="chooseImg()">+</button>
  </div>

  <div class="middle-left">
    <div>{{usuario.nome}}</div>
  </div>

  <div class="bottom-left">
    <app-atividade></app-atividade>
  </div>
  <div class="top-right">
    <button>Search</button>
    <button [routerLink]="['']" [queryParams] = "{id: usuario.id}">Home</button>
    <button (click)="signOut()" [routerLink]="['']">Sign out</button>
  </div>

  <div class="first-middle-right">
      <p>Janelas</p>
  </div>

  <div class="second-middle-right">
      <p>Subareas</p>
  </div>

  <div class="bottom-right">
    <button>Add</button>
  </div>
</div>
