<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="authentication">
  <div class="containerAuth">
    <h3><b>Cadastre-se</b></h3>
    <form class="inputAuth" [formGroup]="reactiveForm">
      <!-- UserName Validation -->
      <div style="display: flex; flex-direction: column"
           [ngClass]="{'red': invalid.includes('username')}">
        <div id="username" style="display: flex;">
          <label class="boldertext">Username:</label>
          <div [ngClass]="{'doubt': true, 'displayNone': !invalid.includes('username'),
          'invalidToolTip': invalid.includes('atleastfive'), 'inUse': invalid.includes('nameInUse')}">
            <i [attr.aria-hidden]="'false'" class="fas fa-question-circle" data-tooltip="Name already used!"
               invalid-tooltip="At least 5 characters!"></i>
          </div>
        </div>
        <input [(ngModel)]='auth.username' formControlName="username">
      </div>
      <!-- Password Validation -->
      <div [ngClass]="{'red': invalid.includes('password')}">
        <div id="password" style="display: flex">
          <label class="boldertext">Password:</label>
          <div id="validation">
            <div [ngClass]="{'greenToolTip': !validations().password.hasError('minlength')}"
                 *ngIf="!validations().password.hasError('required')"
                 data-tooltip="Must be at least 8 characters!"></div>
            <div [ngClass]="{'greenToolTip': !validations().password.hasError('hasNumber')}"
                 *ngIf="!validations().password.hasError('required')"
                 data-tooltip="Must contain at least 1 number!"></div>
            <div [ngClass]="{'greenToolTip': !validations().password.hasError('hasCapitalCase')}"
                 *ngIf="!validations().password.hasError('required')"
                 data-tooltip="Must contain at least 1 letter in capital case!"></div>
            <div [ngClass]="{'greenToolTip': !validations().password.hasError('hasSmallCase')}"
                 *ngIf="!validations().password.hasError('required')"
                 data-tooltip="Must contain at least 1 letter in small case!"></div>
            <div [ngClass]="{'greenToolTip': !validations().password.hasError('hasSpecialCharacters')}"
                 *ngIf="!validations().password.hasError('required')"
                 data-tooltip="Must contain at least 3 special character!"></div>
          </div>
        </div>
        <div class="changingeye">
          <input [(ngModel)]='auth.password' [type]="password" autocomplete="new-password"
                 formControlName="password">
          <div (click)="showpassword('password')" class="eye">
            <i [attr.aria-hidden]="'false'" [ngClass]="{'fas fa-eye': !showPassword, 'far fa-eye-slash': showPassword}"></i>
          </div>
        </div>
      </div>
      <!-- ConfirmPassword Validation -->
      <div [ngClass]="{'red': invalid.includes('confirmPassword')}">
        <label class="boldertext">Confirm Password:</label>
        <div class="changingeye">
          <input [type]="repeatpassword" autocomplete="new-password" formControlName="confirmPassword">
          <div (click)="showpassword('confirmPassword')" class="eye">
            <i [attr.aria-hidden]="'false'" [ngClass]="{'fas fa-eye': !showConfirmPassword, 'far fa-eye-slash': showConfirmPassword}"></i>
          </div>
        </div>
      </div>
      <!-- Email Validation -->
      <div id="email" [ngClass]="{'red': invalid.includes('email')}">
        <div style="display: flex;">
          <label class="boldertext">Email:</label>
          <div [ngClass]="{'doubt': true, 'displayNone': !invalid.includes('email'),
          'invalidToolTip': invalid.includes('fakeMail'), 'inUse': invalid.includes('emailInUse')}">
            <i [attr.aria-hidden]="'false'" class="fas fa-question-circle"
               data-tooltip="E-mail already in use!" invalid-tooltip="Email inexistente!"></i>
          </div>
        </div>
        <input placeholder="Ex: my_email@example.com" [(ngModel)]='auth.email' formControlName="email">
      </div>
      <!-- Submit Point -->
      <div class="buttonAuth">
        <button mat-button (click)="validateSignUp()">Confirmar</button>
        <button mat-button [routerLink]="['']">Cancelar</button>
      </div>
      <!-- EveryThing is Done! -->
    </form>
  </div>
</div>
