#main{
  padding: 5px;
  color: black;
  padding-bottom: 3px;

  textarea {
    width: 400px; 
    height: 150px;
  }
}

#info{
  background-color: #1e1010;
  color: white;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
  padding-right: 15px;
}

@media screen and (max-width: 545px) {
  #main textarea {
    width: 72vw;
    min-width: 165px;
  }
}