.main{
  padding: 10px;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuDiv{
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 93vw;
  height: 40px;
}

#removeBtn{
  background-color: #d21969;
  color: white;
  height: 40px;
  width: 30px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 77% 0%, 100% 50%, 75% 100%, 0% 100%, 20% 50%);
}

#confirmCancel{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: white;
}

#confirmCancel button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  border-radius: unset;
}

#confirmCancel button:first-child{
  background-color: #02AAC9;
  margin-left: 10px;
  border-radius: 3px;
  width: 100px;
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 85% 101%, 0% 101%);
}

#confirmCancel button:nth-child(2){
  color: black;
  width: 80px;
  background-color: white;
  padding: 0px 12px 0px 5px;
}

.body{
  display: flex;
  height: 91vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centralizar{
  width: 950px;
  height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centralizar span{
  display: flex;
  justify-content: space-between;
}

.blockSize{
  max-width: 230px;
  height: 280px;
}

.blockSize div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 30px;
}

.blockSize div:nth-child(2){
  max-width: 100%;
  height: 250px;
}

.blockSize textarea{
  resize: none;
  border-radius: 0px;
}

.blockSize textarea:focus{
  outline: none
;
}

#classeNome{
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#classeNome input{
  border: none;
  text-align: center;
}

#classeNome input:focus{
  outline: none;
}

.choice{
  color: black;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding-right: 12px;
  padding-left: 12px;
}

#miniMenu{
  display: flex;
  justify-content: flex-end;
  width: 475px;
}

#miniMenu > *{
  margin-right: 10px;
}

#miniMenu *:last-child{
  margin-right: 0px;
}

#time{
  color: rgb(100 100 100);
  border: 1px solid rgba(118, 118, 118, 0.3);
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
  border-radius: 3px;
}
