.atividade{
  background-color: #02AAC9;
  color: white;
  width: 150px;
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.atividade:hover{
  background-color: #048098;
}

.changeColor{
  background-color: #075aa9;
  pointer-events: none;
}

.add{
  margin-top: 10px;
  width: 185px;
  color: white;
  border: none;
  border-radius: unset;
  background-color: #075aa9 !important;
}

#dropdownBasic1{
  height: 30px;
  margin-top: 10px;
  border-radius: 0px;
  box-shadow: none;
}

.dropdown-menu{
  min-width: 6rem;
}
