spring:
  datasource:
   username: postgres #${USERNAME}
   password: w10ell10 #${PASSWORD}
   url: jdbc:postgresql://localhost:5432/testindividualmanagement
  database:
    driverClassName: org.postgresql.Driver 
  sql:
    init:
      data-locations: classpath:data.sql
      mode: always
      platform: postgres
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
   
# server
server:
  port: 8080
  
# monitoring RAM
management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    metrics:
      enabled: true

    