.editDialog {
  background-color: white;
  padding: 10px;
}

#titleDialog{
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 10px;
}

.btns button:first-child{
  background-color: #02AAC9;
}

.btns button:nth-child(2){
  background-color: white;
  color: black;
}
