<div id="body">
  <div style="display: flex; justify-content: center;">
    <div style="margin-left: 10px; margin-top: 10px">
      <div id="classeMenu">
        <div style="display: flex;">
          <div *ngIf="classe != undefined" id="classeNome">
            <b>-</b>&nbsp;&nbsp;&nbsp;
            <input [(ngModel)]="classe.nome"  maxlength="12" size="10"
                   (focus)="inputDisable(gettingFocus)" #gettingFocus (click)="inputEnable(gettingFocus)"
                   (keyup)="saveEdit($event)" spellcheck="false">
            &nbsp;&nbsp;&nbsp;<b>-</b>
          </div>
        </div>
        <div class="iconFunctions">
          <div (click)="removeClasse()" style="margin-top: 1.5px; color: #d21969">
            <i class="fas fa-minus-circle"></i>
          </div>
          <div (click)="showInfo()" style="margin-top: 1.5px; margin-left: 10px; margin-right: 10px">
            <i class="fas fa-info-circle"></i>
          </div>
          <div mat-dialog-close style="margin-top: 1.5px">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="estrutura">
        <div>
          <div class="dificuldade" style="color: #02AAC9">Easy</div>
          <app-carousel [qntItens]=qntItens [dificuldade]="'easy'" [objeto]="classe" [subareaTipo]="'casual'"></app-carousel>
        </div>
        <div>
          <div class="dificuldade" style="color: #02b050">Medium</div>
          <app-carousel [qntItens]=qntItens [dificuldade]="'medium'" [objeto]="classe" [subareaTipo]="'casual'"></app-carousel>
        </div>
        <div>
          <div class="dificuldade" style="color: #f19817">Hard</div>
          <app-carousel [qntItens]=qntItens [dificuldade]="'hard'" [objeto]="classe" [subareaTipo]="'casual'"></app-carousel>
        </div>
      </div>
      </div>
  </div>
</div>
