.authentication{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #378ce3;
  color: #17ABD1;
}

.containerAuth{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 420px;
  background-color: white;
  border-radius: 10px;
}

.containerAuth h3{
  padding-top: 40px;
}

.inputAuth{
  display: flex;
  width: 300px;
  flex-direction: column;
}

.optionalAuth{
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.buttonAuth{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  color: white;
}

.buttonAuth button:focus{
  outline: none;
}

.buttonAuth :first-child{
  background-color: #1372d6;
  margin-right: 10px;
}

.buttonAuth :nth-child(2){
  color: #1976d2;
  background-color: #ffffff;
}

.boldertext{
  font-weight: bold;
}

.eye{
  border: 1px solid #6e6b6b;
  text-align: center;
  padding-top: 2px;
  margin-left: 2px;
  border-radius: 3px;
  width: 40px;
  height: 30px;
}

.changingeye{
  display: flex;
}

.changingeye input{
  width: 258px;
}

.red input{
  border-color: red;
}

.red :first-child{
  color: red;
}

.red .eye{
  border-color: red;
}
#email {
  display: flex;
  flex-direction: column;
}

#test{
  display: flex;
  margin-top: 8px;
  margin-left: 7px;
}

#test div{
  border: 1px solid #d40909;
  color: red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

#test div:hover::after{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  content: attr(data-tooltip);
  position: absolute;
  top: 34.8vh;
  margin-left: 10px;
}

.greenToolTip{
  border-color: #03b703 !important;
  color: #03b703 !important;
}
