<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="authentication">
  <div class="containerAuth">
    <h3><b>Cadastre-se</b></h3>
    <div class="inputAuth">
      <label class="text-info">Username:</label>
      <input  matInput [(ngModel)]='usuario.nome'>
      <label class="text-info">Password:</label>
      <input matInput [(ngModel)]='usuario.senha'>
      <label class="text-info">Email:</label>
      <input  matInput  [(ngModel)]='usuario.email'>
    </div>
    <div class="buttonAuth">
      <button mat-button (click)="cadastroUsuario()">Confirmar</button>
      <button mat-button [routerLink]="['']">Cancelar</button>
    </div>
  </div>
</div>
