.telagrid{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 230px 1fr 1fr;
  grid-template-rows: 70px 140px 1fr;
  grid-template-areas:
    "user search search"
    "user room room"
    "listagem room room";
}

.top-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: user;
  border: #1976d2 solid 3px;
}

.top-left img{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.top-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: search;
  border-top: #1976d2 solid 3px;
  border-bottom: #1976d2 solid 3px;
  border-right: #1976d2 solid 3px;
}

.top-right button{
  margin-right: 20px;
}

.bottom-left{
  grid-area: listagem;
  border: #1976d2 solid 3px;
  border-top: transparent;
}

.bottom-right{
  grid-area: room;
  border-bottom: #1976d2 solid 3px;
  border-right: #1976d2 solid 3px;
}

.bottom-right button{
  margin: 10px 0px 0px 10px;
}
