<div *ngFor="let ocupacao of ocupacoes; let i = index">
  <div id="ocup">{{ocupacao.nome}}</div>
  <div class="ocupacao">
    <div style="display:flex;">
      <div class="icon" (click)="showClasse(i)"><i [attr.aria-hidden]="'false'" class="fas fa-angle-down"></i></div>
      <div class="ocupacaoNome">
        <b>-</b>&nbsp;&nbsp;&nbsp;
        <input [ngModel]="ocupacao.classes[0].nome"  maxlength="16" size="11"
               (keyup)="saveEdit($event, i)" spellcheck="false">
        <b>-</b>&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="close">
      <div>{{ocupacao.classes[0].padrao}}</div>
      <div (click)="getInfo(i)">
        <!--<i [attr.aria-hidden]="'false'" class="fas fa-question"></i>-->
        <i [attr.aria-hidden]="'false'" class="fas fa-info-circle"></i>
      </div>
      <i [attr.aria-hidden]="'false'" class="fas fa-times deleteOcupacao" (click)="removerOccupation(i)"></i>
    </div>
  </div>
  <div [hidden]="show != i" style="background-color: #efefef">
    <app-carousel [qntItens]=qntItens [dificuldade]="difficult" [objeto]="ocupacao.classes[0]" [subareaTipo]="subarea.tipo"></app-carousel>
  </div>
</div>
<div class="addOcupacao" (click)="addOccupation()"><b>+</b></div>
