<div id="stopwatch">
  <div style="display: flex; justify-content: center; background-color: #02AAC9">
    <button style="background-color: transparent; border: none; color: white;"
      [ngClass]="{'displayNone': status != 'cancel'}"
      (click)="unsubscribeImplementation('cancel')">cancelar</button>
    <div id="timeButtons" [ngClass]="{'displayNone': status == 'cancel'}">
      <button (click)="unsubscribeImplementation('reset')">
        <i class="fas fa-retweet"></i>
      </button>
      <div id="flexTemplates">
        <button (click)="twentyFiveMinutes()">
          <i class="far fa-dot-circle"></i>
        </button>
        <button (click)="fiveMinutes()" >
          <i class="far fa-dot-circle"></i>
        </button>
      </div>
      <div id="flexButtons">
        <button (click)="playTime()"
                [ngClass]="{'displayNone': status == 'running'}">
          <i class="fas fa-play-circle"></i>
        </button>
        <button style="color: black;" (click)="unsubscribeImplementation('stop')"
                [ngClass]="{'displayNone': status == 'stopped'}">
          <i class="far fa-stop-circle"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="timeInput">
    <input [(ngModel)]='hours' style="margin-left: 10px" type="number"
           min="0" max="23">
    <label style="color: black; padding: 0px 3px">:</label>
    <input [(ngModel)]='minutes' type="number"
           min="0" max="59">
    <label style="color: black; padding: 0px 3px">:</label>
    <input [(ngModel)]='seconds' type="number"
           min="0" max="59">
  </div>
</div>
