#stopwatch{
  height: 60px;
  border: 1px solid #ccc;
  width: 160px;
  margin-right: 8px;
  margin-top: 5px;
}
//-----------------------------------------//
#timeButtons{
  display: flex;
  background-color: #02AAC9;
  height: 50%;
  justify-content: space-around;
}

#flexButtons{
  display: flex;
  justify-content: space-around;
}

#flexTemplates{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#timeButtons button{
  border: none;
  color: white;
  background-color: transparent;
}

#flexTemplates button{
  color: white;
  background-color: transparent;
}

#timeButtons button:hover{
  color: #03515f;
}

//-----------------------------------------//
#timeInput{
  display: flex;
  justify-content: center;
}

#timeInput input{
  border: none;
  width: 38px;
}

input:focus, button:focus, select:focus{
  outline: none;
}

.displayNone{
  display: none !important;
}
