<div id="options" style="padding: 15px; background-color: #efefef">
  <div id="closeBtn">
    <i [attr.aria-hidden]="'false'" class="fas fa-times" mat-dialog-close></i>
  </div>
  <div *ngIf="janela != undefined">
    <div id="listaDeSubarea">
      <span>
        <div class="subareaObject" *ngFor="let subarea of subareas">
          <div class="subareaName" *ngIf="subarea != undefined">
            {{subarea.nome}}
          </div>
          <div class="chooseOption"*ngIf="subarea != undefined">
            <select style="width: 80px;" disabled>
              <option>list</option>
              <option>geral</option>
            </select>
            <select style="width: 80px"  disabled
                    (change)="changeTipo($event, subarea)">
              <option>{{subarea.tipo}}</option>
              <option *ngIf="subarea.tipo != 'casual'">casual</option>
              <option *ngIf="subarea.tipo != 'projeto'">projeto</option>
            </select>
          </div>
        </div>
        <div *ngIf="subareas.length >= qntDefault; else elseBlock">??</div>  
        <ng-template #elseBlock>
          <div class="undefinedSubarea" *ngFor="let x of counter(qntDefault - subareas.length)"></div>
        </ng-template>
      </span>
    </div>
  </div>
</div>
