select:focus{
  outline: none;
}

#closeBtn{
  color: black;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.undefinedSubarea{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: white;
  width: 300px;
  border: 2px dashed #d3d3d3;
  height: 70px;
}

#listaDeSubarea span{
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  justify-content: center;
  min-height: 250px;
}

#listaDeSubarea span > div{
  margin: 5px;
}

.subareaObject {
  display: flex;
}

.subareaName{
  background-color: black;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px
}

.chooseOption{
  background-color: white;
  border: 1px solid gray;
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

@media screen and (max-width: 840px) {
  #options {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  
}