.subarea{
  background-color: #c1c1c1;
  color: #5a5959;
  height: 20px;
  min-width: 30px;
  font-size: 12px;
  padding: 0px 7px;
  margin-top: 3px;
}

.subarea:focus {
  outline: unset;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

.subarea:hover{
  color: black;
}

.right-left{
  background-color: #c1c1c1;
  color: white;
  margin-top: 3px;
  height: 20px;
  cursor: pointer;
  width: 20px;
}

#span1{
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
}

#span2{
  display: flex;
  margin-top: 5px;
}

.selected{
  background-color: #e9e9e9;
  color: black;
}

.right{
  clip-path: ellipse(15px 12px at 0% 50%);
}

.right span div:first-child{
  background-color: #980846;
}

.left{
  clip-path: ellipse(15px 12px at 100% 50%);
}

.out{
  background-color: #0c508f;
  width: 12px;
  height: 10px;
  position: absolute;
  clip-path: circle(30%);
  z-index: 2;
}

.in{
  background-color: white;
  width: 5px;
  height: 5px;
  margin-top: 2.5px;
  margin-left: 3.5px;
  position: absolute;
  clip-path: circle(28%);
  z-index: 3;
}

#subareaDesktop {
  display: flex; 
  align-items: center;
}

#subareaMobile {
  display: none;
  height: 26px;
}

@media screen and (max-width: 900px) {
  #subareaMobile {
    display: flex;
  }

  #subareaDesktop {
    display: none;
  }  
}