<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="authentication">
  <div class="containerAuth">
    <h3><b style="cursor: default">Login</b></h3>
    <div class="inputAuth">
      <label class="text-info">Username:</label>
      <input [(ngModel)]="usuario.nome">
      <label class="text-info">Password:</label>
      <input [(ngModel)]="usuario.senha">
      <div [ngClass]="{'invalide': senhaInv, 'incorrectPassw': !senhaInv}">
        <b style="width: 100%">Invalide User! Please try again!</b>
        <b style="text-align: end;">{{count}}</b>
      </div>
    </div>
    <div class="optionalAuth">
      <b style="margin-left: 48px; cursor: default">Remember me</b>
      <input style="margin: 7px 0px 0px 5px" type="checkbox">
      <div>
        <a [routerLink]="['/cadastro']" class="registerHere">
          <b>Register here</b>
        </a>
      </div>
    </div>
    <div class="buttonAuth">
      <button mat-button [routerLink]="['/management']" (click)="validateUser()">Confirmar</button>
      <button mat-button [routerLink]="['']">Cancelar</button>
    </div>
  </div>
</div>
