.atvcomponente span{
  background-color: #02AAC9;
  color: white;
  width: 150px;
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atividade{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #02AAC9;
  text-align: center;
  margin-top: 10px;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.add{
  padding: 7px 85px;
}

#remover{
  position: absolute;
}

#editar{
  margin-top: 20px;
  left: 140px;
  position: absolute;
}
