<div id="myCarousel" [style]="carousel">
  <!-- Left Button-->
  <button mat-icon-button (click)="left()">
    <i class="fas fa-caret-left"></i>
  </button>
  <!--carousel body -->
  <div class="containerItens" [style]="containerItens" *ngIf="lista != undefined">
    <!-- [Item] [Item] [Item] [Item] -->
    <div class="displayWrap" *ngFor="let paginas of counter(pages); let i = index">
      <div *ngFor="let range of counter(qntItens); let j = index"
           (click)="show((i * qntItens) + j)"
           [ngClass]="{'counteiner-item': escolhido == i, 'displayNone': escolhido != i}">
        {{lista[(i * qntItens) + j].nome}}
      </div>
    </div>
    <!-- [Item] [Item] [ADD] [Null] -->
    <div class="displayWrap" *ngIf="(resto) != 0; else elseBlock">
      <div *ngFor="let paginas of counter(resto); let i = index;"
           (click)="show(multiplo() +i)"
           [ngClass]="{'counteiner-item': escolhido == pages, 'displayNone': escolhido != pages}">
        {{lista[multiplo() + i].nome}}
      </div>
      <div [ngClass]="{'counteiner-item':  escolhido == pages, 'displayNone': escolhido != pages}"
           (click)="add()" class="plusplus" *ngIf="dificuldade != 'any'"> + </div>
      <div *ngFor="let paginas of counter(qntItens - resto - showAdd);" style="border-style: dashed;"
           [ngClass]="{'counteiner-item': escolhido == pages, 'displayNone': escolhido != pages}">
      </div>
    </div>
    <!-- [ADD] [Null] [Null] [Null]-->
    <ng-template #elseBlock>
      <div class="displayWrap">
        <div [ngClass]="{'counteiner-item': escolhido == pages, 'displayNone': escolhido != pages}"
             (click)="add()" class="plusplus" *ngIf="dificuldade != 'any'"> + </div>
        <div *ngFor="let paginas of counter(qntItens - resto - showAdd);" style="border-style: dashed;"
             [ngClass]="{'counteiner-item': escolhido == pages, 'displayNone': escolhido != pages}">
        </div>
      </div>
    </ng-template>
  </div>
 <!-- Right Button-->
  <button mat-icon-button (click)="right()">
    <i class="fas fa-caret-right"></i>
  </button>
</div>
