.example-boundary {
  display: flex;
  justify-content: space-evenly;
  min-width: 365px;
}

.example-container {
  display: inline-block;
  vertical-align: top;
}

.example-container:first-child {
  width: 60%;
}

.example-container:last-child {
  width: 30%;
}

#firstPart{
  display: flex;
  height: 63px;
  margin-bottom: 10px;
}

#janelas{
  display: flex;
  flex-direction: column;
}

.labelJanela{
  //background-color: #d21969;
  height: 100%;
  background-color: black;
  cursor: default;
  color: white;
  text-align: center;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  width: 120px;
  padding: 20px;
}

.closeButton{
  height: 15px;
  background-color: transparent;
  border: none;
  display: flex;
}

.example-list {
  height: 100%;
  width: 100%;
  min-width: 100px;
  background: white;
  border: 1px solid #ccc;
  border-left: none;
  overflow: hidden;
  display: block;
}

.example-container:nth-child(2) .example-list{
  border: none;
}

.example-box {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.rec .example-box{
  margin-bottom: 10px;
}

.rec .example-list{
  width: 300px;
}

#firstPart .example-box{
  justify-content: space-around;
}

.example-container:nth-child(2) .example-list .example-box{
  border: solid 1px #ccc;
}

.cdk-drag-preview {
  box-sizing: border-box;
  justify-content: space-around !important;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.rec .cdk-drag-placeholder {
  opacity: unset;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

//--------------------------------------------------------------------------------//
.displayNone{
  display: none !important;
}

#contadorDePaginas{
  color: white;
  background-color:black;
  display: flex;
  width: 204px;
  justify-content: center;
  align-items: center;
}

.mat-card{
  box-shadow: none;
  padding: 0px;
  background-color: transparent;
  border-radius: unset;
}

#undefinedBox{
  width: 100%;
  height: 63px;
  display: flex;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.mat-paginator{
  outline: 3px solid #fff;
  background-color: black;
}

#templatePaginator{
  display: flex;
}
