// ------------------------------------------------------

#closeBtn{
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  background-color: white; 
  height: 30px;
}

.closeButton{
  margin-right: 5px;
  height: 15px;
  background-color: transparent;
  border: none;
  display: flex;
}

.closeButton:focus {
  outline: unset;
}

// ------------------------------------------------------ Left Side

.example-boundary {
  display: flex;
  background-color: white;
}

#locking .cdk-drag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.mdc-card {
  flex-direction: row;
  margin-bottom: 8px;
}

#janelas {
  width: 50%
}

mat-card .cdk-drop-list {
  background: #f8f8f8c9;
  flex: 1;
  width: 50%;
}

.example-container mat-card{
  background: transparent;
}

.labelJanela{
  height: 100%;
  background-color: black;
  cursor: default;
  color: white;
  text-align: center;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  width: 100%;
  padding: 20px;
}

#undefinedBox{
  width: 100%;
  height: 66px;
  display: flex;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  justify-content: center;
  align-items: center;
}

// ------------------------------------------------------ Right Side


.example-boundary > :nth-child(2) .cdk-drop-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 180px;
}

.example-boundary > :nth-child(2) .cdk-drop-list > * {
  flex: 1;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
  background-color: #eaeaea8f;
  margin: 8px;
  margin-top: 0px;
}

#happyFace{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0;
  height: 56px;
  color: white; 
  cursor: default; 
  background-color: black;
  margin-bottom: 0px;
}

// ------------------------------------------------------

.cdk-drag-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.rec .cdk-drag-placeholder {
  opacity: unset;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
