.janela{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02AAC9;
  color: white;
  width: 115px;
  height: 30px;
  cursor: pointer;
  clip-path: polygon(0% 90%, 10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.janela:hover{
  background-color: #048098;
}

.changeColor{
  background-color: #1976d2;
  pointer-events: none;
}

#dropdownBasic1{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  right: -15px;
  bottom: -15px;
}

.d-inline-block{
  z-index: 10;
}

#dropdownBasic1:first-child{
  color: #1372d6;
}

#dropdownBasic1:first-child:hover{
  color: #1372d6;
}

.dropdown-toggle::after{
  border: none;
}

.dropdown-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 33px;
  border-radius: 100%;
  transform: scale(0.88);
}

.dropdown-item:nth-child(1){
  position: relative;
  right: 15px;
  top: 39px;
  background-color: white;
}

.dropdown-item:nth-child(2){
  background-color: white;
  color: red;
  position: relative;
  left: 17px;
  top: 5px;
  margin-top: 1px;
}

.dropdown-menu{
  transform: translate(-17px, -92px) !important;
  background-color: transparent;
  border: none;
  min-width: 30px;
  width: 30px;
}

.addJanela{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 55px;
  height: 30px;
  position: relative;
  right:10px;
  background-color: #e7e7e7;
}

.addJanela, .janela{
  margin-top: 15px;
}

.addJanela:hover{
  background-color: #d0d0d0;
}

#abaixoDaJanela{
  height:40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #1372d6;
}

#terminal{
  cursor: pointer;
  margin: 1.75px 8px 0px 0px;
  transform: scale(1.3, 1.3);
}

/*
#terminal{
  width: 55px;
  height: 40px;
  position: relative;
  left: 10px;
  background-color: black;
}

#terminal:first-child{
  color: white;
  padding-left: 5px;
  cursor: pointer;
  transform: scale(0.5, 0.5);
}*/

#template{
  cursor: pointer;
  margin: 0px 10px;
  margin-right: 15px;
  transform: scale(1.5, 1.5);
}

#regras{
  cursor: pointer;
  transform: scale(1.3, 1.3);
}
